{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
    {{ super() }}
    <link href="/static/css/styles.css" rel="stylesheet">
    <script src="/static/js/libs/d3.v3.min.js"></script>
{% endblock %}


{% block content %}

<h1>Source Engine (for Twitter)</h1>

<div class="container text-left">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

            {{ wtf.quick_form(form) }}

            <div class="row">
                <div class="col-6">
                    <h2>Search tweet</h2>
                    {% if searched_tweet %}
                    {{ searched_tweet|safe }}
                    {% endif %}
                </div>
                <div class="col-6">
                    <h2>Original Tweet</h2>
                    {% if original_tweet %}
                    {{ original_tweet|safe }}
                    {% endif %}
                </div>
            </div>
            

        </div>
    </div>
</div>

<div id="sentiment">
    <h3 style="padding-bottom: 20px">What has that person been talking about?</h3>
    <p style="padding-left: 30px; float: left">←  more negative</p>
    <p style="padding-right: 30px; float: right">more positive  →</p>
</div>

<script src="/static/js/sentiment-cloud.js"></script>
<script>
    setTimeout(function() { renderGraph({{ timeline_data|safe }}) }, 10);
</script>


{% endblock %}
