{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Source Engine
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

            {{ wtf.quick_form(form) }}

            <div class="row">
                <div class="col-6">
                    <h2>Search tweet</h2>
                    {% if searched_tweet %}
                    {{ searched_tweet|safe }}
                    {% endif %}
                </div>
                <div class="col-6">
                    <h2>Original Tweet</h2>
                    {% if original_tweet %}
                    {{ original_tweet|safe }}
                    {% endif %}
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}